.Footer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(7 7 77/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    overflow: hidden;
    font-family: 'Poppins';
}

@media (min-width: 640px){
.Footer {
    padding: 0rem 1.5rem;
    }
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 1.5rem;
}

.first-part-footer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5.5em;
    margin-top: -6.5em;
}

@media (min-width: 1024px){
.first-part-footer {
    width: 33.333333%;
    display: flex;
    }
}

.logo-footer{
    display: flex;
}

@media (min-width: 768px){
.logo-footer {
    align-items: center;
    flex-direction: column;
    }
}

.logo-footer-image{
    width: 1.75rem;
    height: 7em;
    margin-left: 2em;
    margin-top: 9em;
}

@media (min-width: 768px){
.logo-footer-image {
    width: 10rem;
    padding: 0;
    }
}

.title-footer{
    width: 140px;
    margin-top: -0.5em;
}

@media (min-width: 768px){
.title-footer {
    width: 10rem;
    }
}

.register{
    --tw-text-opacity: 1;
    color: rgb(214 231 255/var(--tw-text-opacity));
    font-size: 10px;
    font-weight: 600;
    font-family: inherit;
}

@media (min-width: 768px){
.register {
    font-size: 15px;
    }
}

.register-description{
    margin-top: 1rem;
    --tw-text-opacity: 1;
    color: rgb(214 231 255/var(--tw-text-opacity));
    font-size: 10px;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
}

@media (min-width: 768px){
.register-description {
    font-size: 12px;
    }
}

.register-options{
    margin-top: 1rem;
}

.register-buttons{
    margin: 0rem 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(0 102 255/var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(214 231 255/var(--tw-bg-opacity));
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: 600;
}

.register-buttons:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(0 102 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.second-part-footer{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 31em;
    margin-top: -6.5em;
}

@media (min-width: 1024px){
.second-part-footer {
    width: 66.666667%;
    --tw-space-x-reverse: 0;
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    }
}

@media (min-width: 640px){
.second-part-footer {
    flex-direction: row;
    height: 100%;
    --tw-space-x-reverse: 0;
    margin-left: calc(3.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(3.5rem*var(--tw-space-x-reverse));
    }
}

.contact{
    margin-top: -14em;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
    justify-content: space-between;
}

@media (min-width: 640px){
.contact {
    width: 66.666667%;
    order: 1;
    }
}

.adress-and-email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.adress-and-email h3{
    --tw-text-opacity: 1;
    color: rgb(51 204 0/var(--tw-text-opacity));
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 640px){
.adress-and-email h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    }
}

.adress-and-email-icons{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
.adress-and-email-icons {
    margin-top: 1rem;
    }
}

.each-adress-email-icon{
    display: flex;
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
}

@media (min-width: 640px){
.each-adress-email-icon {
    --tw-space-x-reverse: 0;
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
    }
}

.icon-circle{
    align-self: center;
    --tw-bg-opacity: 1;
    background-color: rgb(51 204 0/var(--tw-bg-opacity));
    border-radius: 9999px;
    padding: 0.5rem;
    margin: 0em 1.5em 1em -1.5em;
}

@media (min-width: 640px){
.icon-circle {
    padding: 1rem;
    }
}

.each-adress-email-icon p{
    text-align: left;
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: inherit;
}

@media (min-width: 640px){
.each-adress-email-icon p {
    font-size: .875rem;
    line-height: 1.25rem;
    }
}

.each-adress-email-icon p span{
    font-weight: 600;
}

.email-text{
    padding-top: 0.5em;
}

.socialmedia-and-policy{
    display: none;
    flex-direction: column;
    margin-top: 3rem;
}

@media (min-width: 640px){
.socialmedia-and-policy {
    display: flex;
    }
}

.socialmedia-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(0 102 255/var(--tw-text-opacity));
    
}

@media (min-width: 1024px){
.socialmedia-icons {
    margin-left: -4.3em;
    }
}

.socialmedia-icons a{
    padding: 0.25rem;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(214 231 255/var(--tw-bg-opacity));
    margin-right: 1.6em;
}

.rights-brand{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    font-family: 'Poppins';
    margin-left: 5em;
}

.policy{
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 4em;
}

@media (min-width: 640px){
.policy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    }
}

.policy a{
    margin-right: 8em;
}

.policy-title{
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

@media (min-width: 768px){
.policy-title {
    margin-left: 0rem;
    margin-right: 0rem;
    }
}

.our-services{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-left: -6.4em;
}

@media (min-width: 640px){
.our-services {
    width: 33.333333%;
    order: 2;
    justify-content: flex-start;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: left;
    }
}

.our-services h3{
    width: 100%;
    --tw-text-opacity: 1;
    color: rgb(51 204 0/var(--tw-text-opacity));
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: -12.8em;
}

@media (min-width: 640px){
.our-services h3{
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.75rem;
    }
}

.services-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 640px){
.services-options {
    flex-direction: column;
    }
}

.services-options a p{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.services-options button{
    display: flex;
    justify-content: flex-start;
    background-color: inherit;
    border: 0;
    margin-left: -0.25em;
}