.ProductForSale{
    width: 216px;
    height: 370px;

}

@media (min-width: 768px){
.ProductForSale {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 440px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    position: relative;
    border-radius: 24px;
    margin-left: .75rem;
    margin-right: .75rem;
    margin-bottom: 1.5rem;

    }
}

.ProductForSale:hover{
    margin-top: -0.5rem;
  --tw-shadow-color: rgba(0,102,255,.4);
  --tw-shadow: var(--tw-shadow-colored);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
}